@charset "UTF-8";
/*
Name: Bruno Freitas
Date: 2021-10-07
*/

h1{
    text-align: center;
}

body{
    background-color: black;
    font-size: 1.3em;
    color: blanchedalmond;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

.menu {
    text-align: center;
    font-family: fantasy;
    word-spacing: 4px;
  }

.menu a {
    color: darkred;
    text-decoration: none;
}

.menu a:visited {
	color: #551a8b;
}

.menu a:hover {
	color: #06e;
}

.menu a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 2px;
}
  
.topright {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
  }

.presentation {
    position: relative;
}

nav ol li {
    display: inline;
}
