@charset "UTF-8";
/* 
    Author: Bruno Freitas
    Date: 2021-10-25
*/

@media only screen and (max-width: 480px) {
    /* Resume page */
    body {
        background-color: darkolivegreen;
    }

    body > h1 {
        font-size: 1.5em;
    }

    #footerImg {
        width: auto;
    }

    a#navicon > img {
        display: block;
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        display: none;
    }

    a#navicon:hover+ol{
		display: block;
	}
    /* Main Page */


}

@media only screen and (min-width: 481px) {
    body {
        background-color: darkgoldenrod;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header, article, footer, .menu {
        grid-column: span 2;
    }

    #educationTitle {
        text-align: center;
    }
    
    #employmentTitle {
        text-align: center;
    }
    
    #footerImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .row li{
        display: inline;
    }

    .row a {
        display: inline-block;
        padding: 10px;
    }

    a#navicon {
		display: none;
	}

    .presentation {
        display: flex;
    }

    #introduction, #topic_1 {        
        flex: 1 200px;
        padding: 15px;
    }
}

@media only screen and (min-width: 769px) {

    body {
        background-color: darkslategray;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    body * {
        grid-column: span 2;
    }

    #educationTitle {
        text-align: center;
    }
    
    #employmentTitle {
        text-align: center;
    }
    
    #footerImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .row li{
        display: inline;
    }

    .row a {
        display: inline-block;
        padding: 10px;
        font-size: 1.3em;
    }

    a#navicon {
		display: none;
	}

    .presentation {
        display: flex;
    }

    #introduction, #topic_1 {        
        flex: 1 200px;
        padding: 15px;
    }
}